<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar
         [src]="userMeta.avatar_url">
    <mat-card-title>{{user?.name}}</mat-card-title>
    <mat-card-subtitle>@{{user?.login}} {{user?.location ? '-' : ''}} {{user?.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="info-icon">
      <mat-icon>account_circle</mat-icon>
      <p class=info-content>
        {{user?.bio ? user?.bio : 'no bio provided'}}
      </p>
    </div>
    <div class="info-icon">
      <mat-icon>folder</mat-icon>
      <p class=info-content>{{user?.public_repos}}</p>
    </div>
    <div class="info-icon">
      <mat-icon>people</mat-icon>
      <p class=info-content>{{user?.followers}}</p>
    </div>
  </mat-card-content>
  <a href="{{githubUrl}}{{user?.login}}"
     target="_blank"
     mat-stroked-button
     color="primary">See profile</a>
</mat-card>