:host{
  width: 40%;
}
.search{
  &-bar{
    width: 100%;
    font-size: 32px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    color: rgb(119, 116, 116);
    &::placeholder{
      opacity: 0.6;
    }
  }
}