<github-header>
  <github-search-bar (search)="search($event)"></github-search-bar>
</github-header>

<div class="result-container"
     *ngIf="usersResponse?.total_count > 0">
  <github-users-list [metaUsers]="usersResponse?.items"></github-users-list>
  <mat-paginator [length]="usersResponse?.total_count"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [hidePageSize]="true"
                 color="purple"
                 (page)="nextPage($event)">
  </mat-paginator>
</div>

<div class="no-results"
     *ngIf="!usersResponse?.total_count">
  {{usersResponse?.total_count == 0 ? 'No results found' : 'Search for a new user' }}
</div>