.header{
  &-container{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b74a5;
    margin-bottom: 24px;
    flex-direction: column;
    .logo{
      margin: 8px;
      width: 60px;
    }
  }
}